.navbar-img{
    width: 30px;
    height: 35px;
    float: left;
    background-size:auto 100%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.post-img{
    width: 50px !important;
    height: 55px !important;
    border-radius: 50% !important;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
    background-color: #f8f9fa;
}

@media screen and (max-width: 200px), (min-width: 992px){
    .div_mobile{
        display:none;
    }

}

@media screen and (max-width: 992px) {
    .group_div, .tasting_div, .post_div{
        display: none;

    }
}

@media screen and (min-width: 400px){
    .question_detail_mobile{
        display: none;
    }
}


.order_history_badge{
    height: 70px !important;
    width: 50px !important;
}

.made{
    display: block;
    margin : 0 auto;
}
.comment_button{
    position: relative;
    float: right;
}

  /************** Make the image fully responsive ****************/
.carousel{
  width: 100%;
  height: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


/*.my_footer {*/
    /*background-color: #f8f9fa;*/
    /*height: 60px;*/
/*}*/

/*.my_footer p {*/
    /*padding-top: 20px;*/
    /*font-size: 14px;*/
/*}*/

/********************* Tasting Cart Page ***************/

.my_custom_table{
    min-width: 400px;
    font-size: 14px;
}


.my_custom_thead{
    font-weight:normal;
    background-color: #f8f9fa!important;
}

.custom_image{
    width: 100px;
    height: 100px;
}

.custom_a{
    text-decoration: none;
}

.custom_icon{
    text-decoration: none;
    color: #686868 !important;
}

.icon_hover a:hover {
    text-decoration: none;

}


.my_custom_button{
    margin-top: 5px;
}

.my_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    color: #686868
    }

/*  STRIPE BUTTON */

.stripe-button-el {
    width: 100% !important;
    display: block !important;
    background-color: #868e96 !important;
    border: 0px !important;
    background-image: none !important;
}

.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0px 12px ;
    height: 36px !important;
    line-height: 36px !important;
    font-family: 'Roboto', 'sans-serif' !important;
    font-size: 16px !important;
    color: #fff !important;
    background: none !important;
}

/* Purchase History Page */

.order_detail_div{
    background-color: #F0F0F0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.view_order_details{
    color: #2e38f6 !important;
}

.view_order_details a {
    text-decoration: none !important;
}

.order_total_text {
    color: #4c9b53;
}

.order_item_detail_div img{
    height:100px;
    width: 100px;
}

.tasting_sold_div{
    background-color: #F0F0F0 !important;
    padding-top:15px;


}

.tasting_sold_div h4{
    color: #2e38f6 !important;
}

.tasting_sold_div h5{
    color: #ff0000 !important;
    font-size:16px !important;
}

.tasting_sold_div h4{
    font-size:18px !important;
}

.tasting_sold_div span{
    font-size:18px !important;
}

.tasting_sold_div img{
    height:100px !important;
    width: 100px !important;
    margin-left: 0px !important;


}

/*   FLAG OR REPORT CSS  */

.flag_class{
    text-decoration: none !important;
    color: #A9A9A9 !important;
}

/* Tasting List Page CSS */

.tasting-author-class-div {
    background-color:#4c9b53 !important;
    padding-left:5px !important;
    color:white !important;
}

.tasting-author-class-div .name {
   color:white !important;
}

.tasting-regular-class-div {
    background-color: #DCDCDC !important;
    padding-left: 5px !important;
}