{% extends 'base.html' %}


{% block body %}
<div class="col-md-8">
    <div class="infinite-container">
        {% for post in post_list %}
        <div class="infinite-item">
                {% if post.post_image %}
                <a href="{% url 'posts:edit' slug=post.slug %}">
                    <img class="img-responsive" src="{{post.post_image.url}}" alt="Image for {{post.title}}" width="460" height="345">
                </a>
                {% endif %}
                <div>
                    <a href="{% url 'posts:edit' slug=post.slug %}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <a href="{% url 'posts:delete' slug=post.slug %}" class="text-danger">Delete Draft</a>
                </div>
                <hr/>
        </div>
        {% empty %}

            <div class="container-fluid">
                <br/>
                <br/>
                <h3>You do not have any drafts</h3>
            </div>

        {% endfor %}
    </div>

</div>




{% endblock %}}

