{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block body %}
<head>
    <title>{% block title %}{{post.title}} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" type="text/css"/>
    <link href="{% static 'doka.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>
    html {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        font-size: 1em;
    }

    body {
        padding: 2em;
        max-width: 30em;
    }
    </style>
</head>
<body>
<div class="container">
    <h2> Add a new Post</h2>
    <form action="" method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <img alt="" id="preview" src="" width="100" />
        <img alt="" id="new_image" src="" style="display: none;"  />
        {{formset.management_form}}

        </h3>
        <h5>(Remember a picture is worth a thousand words) try to add as many prep images as possible
            <span class="text-danger"><b>(Minimum 2)</b></span>.</h5><br/>
        {% for f in formset %}
            <div style="border-style: inset; padding:20px; display: none;" id="form{{forloop.counter}}" >
                <p class="text-warning">Prep Image {{forloop.counter}}</p>
                {% bootstrap_form f %}

                <img alt="" src="" width="60" id="prep_image{{forloop.counter}}"  />
            </div>
        {% endfor %}

        <br/><button type="button" id="add_more" onclick="myFunction()">Add more images</button>

        <input type="submit" class="btn btn-primary" value="Post" style="float:right;"/>

    </form>

</div>
<script>
    [
        {supported: 'Promise' in window, fill: 'https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js'},
        {supported: 'fetch' in window, fill: 'https://cdn.jsdelivr.net/npm/fetch-polyfill@0.8.2/fetch.min.js'},
        {supported: 'CustomEvent' in window && 'log10' in Math && 'sign' in Math &&  'assign' in Object &&  'from' in Array &&
                    ['find', 'findIndex', 'includes'].reduce(function(previous, prop) { return (prop in Array.prototype) ? previous : false; }, true), fill: 'doka.polyfill.min.js'}
    ].forEach(function(p) {
        if (p.supported) return;
        document.write('<script src="' + p.fill + '"><\/script>');
    });
    </script>

    <script src="https://unpkg.com/filepond-plugin-image-edit"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform"></script>
    <script src="https://unpkg.com/filepond"></script>

    <script src="{% static 'doka.min.js' %}"></script>

    <script>

    FilePond.registerPlugin(
        FilePondPluginImageExifOrientation,
        FilePondPluginImagePreview,
        FilePondPluginImageCrop,
        FilePondPluginImageResize,
        FilePondPluginImageTransform,
        FilePondPluginImageEdit
    );

    // https://pqina.nl/filepond/docs/patterns/api/server/
    // THE ABOVE LINK SHOWS EXAMPLES OF HOW TO ADD IMAGES TO SEVER. BELOW IS A EXAMPLE ENDPOINT

    // EXAMPLE ENDPOINT. THIS CODE IS NOT USED ANYWHERE AS OF NOW
    FilePond.setOptions({
        server: "some_endpoint/"

    });

    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                }
                // {
                //     label: 'Portrait',
                //     value: 1.25
                // },
                // {
                //     label: 'Square',
                //     value: 1
                // },
                // {
                //     label: 'Landscape',
                //     value: .75
                // }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });
    FilePond.create(document.querySelector('input[type="file"]'), {

        // default crop aspect ratio
        // imageCropAspectRatio: 1,

        // resize to width of 200
        // imageResizeTargetWidth: 200,
        imageResizeTargetWidth: 1024,

        // open editor on image drop
        // imageEditInstantEdit: true,

        // configure Doka
        imageEditEditor: Doka.create({
            cropAspectRatioOptions: [
                {
                    label: 'Free',
                    value: null
                },
                {
                    label: 'Portrait',
                    value: 1.25
                },
                {
                    label: 'Square',
                    value: 1
                },
                {
                    label: 'Landscape',
                    value: .75
                }
            ]
        })

    });

    </script>

<script>

    // This code adds extra buttons when you click add more images

    document.getElementById("form1").style.display = "block";
    document.getElementById("form2").style.display = "block";
    document.getElementById("form3").style.display = "block";

    let x = 0;
    let i = 4;
    function myFunction() {

          if( x < 13) {
            x = i ++
          }
      document.getElementById("form"+x+"").style.display = "block";
    }
</script>
</body>


{% endblock %}

