{% extends 'base.html' %}


{% block body %}
<div class="col-md-8">
    <div class="infinite-container">
        {% for post in post_list %}
        <div class="infinite-item">

            <a href="{% url 'posts:single' username=post.user.username slug=post.slug %}">
                <img class="img-responsive" src="{{post.post_image.url}}" alt="Image for {{post.title}}" width="460" height="345">
            </a>
            <div>
                <a href="{% url 'posts:single' username=post.user.username slug=post.slug %}">
                    <h2>{{ post.title }}</h2>
                </a>
            </div>
            <hr/>
        </div>
        {% empty %}

            <div class="container-fluid">
                <br/>
                <br/>
                <h3>No results found with the search query "{{ request.GET.q }}"</h3>
            </div>

        {% endfor %}
    </div>

</div>




{% endblock %}}

